.profile {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: start;
    max-width: var(--content-width);
    min-width: var(--content-width);
    margin: 120px auto 0 auto;


}

.profile__nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;

}

.profile__view {
    flex-grow: 2;
}
.profile__link {

    width: 320px;
    padding: 18px 0;
    text-decoration: none;
    color: var(--color-secondary);
}

.profile__link_active {
    color: var(--color-primary);
}