.content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: var(--content-width);
  max-height: calc(100% - 89px);
  height: calc(100% - 89px);
  overflow-y: hidden;
  margin: 0 auto;
}