
.header {
    position: relative;
}

.header__link {
    text-decoration: none;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo > svg  {
    max-height: 40px;
}