.constructors {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    padding: 100px 16px 0px;

}

.constructor__list {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0;
    padding: 0 0;
    flex-grow: 1;

}

.constructor__bun {
    background: #1C1C21;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constructor__ingredients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    overflow-y: scroll;
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    border-radius: 40px;
    max-height: 410px;
}

.constructor__placeholder {
    display: flex;
    justify-content: stretch;
    align-items: center;
    align-self: center;
    flex-grow: 1;
    background: #1C1C21;
    margin: 0 0;
    padding: 0 0;
    border-radius: 40px;
    width: 100%;
    height: 100%;
}

.constructor__drop {

    flex-grow: 1;

}

.constructor__placeholder > p {
    width: 100%;
    text-align: center;
}
.constructor__bun_top {

    border-radius: 88px 88px 40px 40px;
}

.constructor__bun_bottom {
border-radius: 40px 40px 88px 88px;
}
.constructor__ingredients ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.constructor__ingredients ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;

}

/* Handle */
.constructor__ingredients ::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 10px;
}

.constructor__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    width: 100%;
    cursor: move;
}

.constructor__item_top {
    position: sticky;
    top: 0;
    background: var(--app-background);
}

.constructor__item_bottom {
    position: sticky;
    bottom: 0;
    background: var(--app-background);
}

.constructor__icon {
    display: inline-block;
    min-width: 24px;
}

.constructor__bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    gap: 40px;
    padding: 40px 0;
}
.constructor__price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px
}

.constructor__price svg {
    width: 33px;
    height: 33px;
}

.constructor__icon_medium {
    width: 33px;
    height: 33px;
}
